name: Build wheels
run-name: Build platform wheels on Linux
on:
  workflow_call:

jobs:
  Build-Wheels:
    name: Build wheel ${{ matrix.python }}-${{ matrix.buildplat[1] }}
    runs-on: ${{ matrix.buildplat[0] }}
    strategy:
      # ensure that wheel builders fail independently
      fail-fast: false
      matrix:
        buildplat:
          - [ubuntu-20.04, manylinux_x86_64]
        # python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        python: ["cp37", "cp38", "cp39", "cp310", "cp311"]

    steps:
    - uses: actions/checkout@v3

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.14.1
      env:
        CIBW_BUILD: ${{ matrix.python }}-${{ matrix.buildplat[1] }}

    - name: Upload wheel artifacts
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: ./wheelhouse/*.whl
